.container
{
	width: 1200px;
	margin: auto;
}
header, main, aside, footer
{
	border: 1px solid lightgrey;
	padding: 35px;
}
nav li
{
	display: inline;
}
main
{
	width: 840px;
	float: left;
}
aside
{
	width: 216px;
	float: left;
}
footer
{
	clear: left;
}